@mixin flex{
    display:flex;
}

@mixin flexDirection($direction){
    flex-direction:$direction;
}

@mixin justify($position){
    justify-content:$position;
}

@mixin align($position){
    align-items:$position;
}

@mixin border($properties...){
    border:$properties;
}

@mixin padding($properties...){
    padding:$properties;
}

@mixin margin($properties...){
    margin:$properties;
}

@mixin archivo{
    font-family: 'Archivo', sans-serif;
}

@mixin clash{
    font-family: 'Clash Display', sans-serif;
}

@mixin maxScreen($val){
    @media only screen and (max-width:$val) {
        @content;
    }
}


@mixin minMaxScreen($val1,$val2){
    @media only screen and (min-width:$val1) and (max-width:$val2){
        @content;
    }
}


@mixin display($val){
    display:$val;
}