$red-btn:#d30000;
$white-btn:#FFFFFF;
$dark-red:darkred;
$black:black;
$grey:grey;
$grey2:#707070;
$white2:#FAFAFA;
$green:#00C24E;
$grey3:#CCCCCC;
$laptop-max:1350px;
$laptop-min:1024px;
$tablet:1023px;
$mobile1:563px;
$mobile2:350px;
$special-desktop:2076px;
$grey4:#EAECEA;
$blue:#184BFF;

