*, *::after, *::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #FFFFFF;
}

.Header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 80px;
  height: 90px;
  width: 100%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: #FFFFFF;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
}
.Header span {
  font-family: "Clash Display", sans-serif;
  font-weight: 600;
  font-size: 24px;
  line-height: 29px;
  transform: translateX(50px);
}
.Header .subscribe {
  display: flex;
  align-items: center;
  font-family: "Archivo", sans-serif;
}
.Header .subscribe .sub-children {
  margin-left: 30px;
}
.Header .subscribe .sub-btn {
  text-decoration: none;
  background-color: #d30000;
  color: #FFFFFF;
  padding: 15px 30px;
  font-weight: 600;
  font-size: 18px;
  line-height: 19px;
  transition: 300ms;
}
.Header .subscribe .sub-btn:hover {
  background-color: darkred;
}
.Header .subscribe .sign-in {
  color: black;
  font-weight: 600;
  font-size: 18px;
  line-height: 19px;
}

.categories {
  width: 100%;
  height: 70px;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}
.categories .cat-container {
  height: 100%;
  width: 80%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.categories .cat-options {
  color: #FFFFFF;
  text-decoration: none;
  transition: 300ms;
  font-family: "Clash Display", sans-serif;
  font-weight: 200;
  font-size: 18px;
  line-height: 29px;
}
.categories .cat-options:hover {
  font-weight: 600;
  font-size: 24px;
  text-decoration: underline;
}

.News-container {
  width: 100%;
}

.News-tip {
  width: 100%;
  height: 380px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  flex-direction: row;
  text-decoration: none;
  padding: 0px 60px;
}
.News-tip .box {
  flex-basis: 46%;
  height: 100%;
}
.News-tip .box .box-text {
  margin: 17px 0px;
  color: #d30000;
  font-family: "Archivo", sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 21px;
}
.News-tip .box .box-header {
  width: 100%;
  color: black;
  font-family: "Clash Display", sans-serif;
  font-weight: 600;
  font-size: 36px;
  line-height: 44px;
  margin-bottom: 10px;
}
.News-tip .box .box-hint {
  width: 100%;
  color: grey;
  font-family: "Archivo", sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 25px;
  margin-bottom: 13px;
}
.News-tip .box .news-writer {
  margin-bottom: 10px;
  font-family: "Archivo", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 17px;
  color: grey;
}
.News-tip .box .news-date {
  color: #707070;
  font-family: "Archivo", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 17px;
}
.News-tip .box-special {
  height: 380px;
}
.News-tip .box-special img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.News-tip .box-message {
  padding-left: 30px;
  flex-basis: 54%;
}

.News-slides {
  width: 100%;
  height: 280px;
  display: flex;
  margin-top: 60px;
  overflow: hidden;
  padding-bottom: 10px;
}

.Slides {
  min-width: 650px;
  height: 100%;
  margin-right: 15px;
}
.Slides a {
  display: flex;
  flex-direction: row;
  align-items: center;
  max-width: 650px;
  height: 100%;
  text-decoration: none;
  background-color: #FAFAFA;
  transition: 300ms;
  font-family: "Archivo", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 17px;
}
.Slides a:hover {
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.2);
}
.Slides .space {
  padding-left: 15px;
}
.Slides .slide-section {
  width: 50%;
  height: 100%;
  padding: 0px 10px 0px 0px;
}
.Slides .slide-section .text {
  color: #d30000;
  margin: 10px 0px;
}
.Slides .slide-section .text-head {
  font-family: "Clash Display", sans-serif;
  font-size: 20px;
  font-weight: 600;
  line-height: 25px;
  width: 100%;
  word-wrap: break-word;
  color: black;
}
.Slides .slide-section .text-hint {
  font-family: "Archivo", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 17px;
  color: grey;
  margin: 10px 0px;
}
.Slides .slide-section .text-writer {
  font-family: "Archivo", sans-serif;
  font-size: 12px;
  font-weight: 500;
  line-height: 13px;
  color: #707070;
}
.Slides .slide-section .text-date {
  font-family: "Archivo", sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 13px;
  margin: 10px 0px;
  color: #707070;
}
.Slides img {
  object-fit: cover;
}

.arrow-parent-container {
  width: 100%;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 20px;
  margin-top: 10px;
}
.arrow-parent-container .arrow-container {
  flex-basis: 10%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.New-magazine {
  width: 100%;
  margin-top: 100px;
  position: relative;
  background-color: #FAFAFA;
  padding-left: 60px;
}
.New-magazine .new {
  position: absolute;
  top: -70px;
  left: 70px;
}
.New-magazine .magazine {
  width: 352px;
  text-align: center;
  height: 100%;
  font-family: "Clash Display", sans-serif;
  font-size: 36px;
  font-weight: 600;
  line-height: 44px;
  white-space: nowrap;
}
.New-magazine .magazine .fancy {
  height: 39px;
  width: 352px;
}

.Magazine-cover {
  width: 100%;
  height: 720px;
  background-color: #FAFAFA;
  display: flex;
}
.Magazine-cover .cover {
  height: 100%;
}
.Magazine-cover .main-cover {
  display: flex;
  justify-content: flex-end;
  padding-right: 100px;
  flex-basis: 45%;
  padding-top: 40px;
}
.Magazine-cover .main-cover .img-cover1 {
  height: 550px;
  width: 388px;
}
.Magazine-cover .main-cover .img-cover1 .img-cover {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.Magazine-cover .main-cover .img-cover1 .month {
  font-family: "Clash Display", sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 30px;
  margin-top: 10px;
}

.cover-details {
  padding-right: 40px;
  flex-basis: 55%;
}
.cover-details .logo {
  display: flex;
  font-family: "Clash Display", sans-serif;
  font-size: 40px;
  font-weight: 600;
  line-height: 59px;
  margin-bottom: 15px;
  padding-top: 20px;
  align-items: center;
}
.cover-details .logo img {
  margin-right: 10px;
  height: 60px;
  width: 60px;
  object-fit: contain;
}
.cover-details .month-sales {
  font-family: "Clash Display", sans-serif;
  font-size: 30px;
  font-weight: 600;
  line-height: 30px;
  color: #00C24E;
  margin-bottom: 15px;
}
.cover-details .access {
  font-family: "Clash Display", sans-serif;
  font-size: 33px;
  font-weight: 600;
  line-height: 35px;
  color: black;
  margin-bottom: 50px;
}
.cover-details .access-special {
  color: #00C24E;
}
.cover-details ul {
  padding-left: 17px;
  margin-bottom: 50px;
}
.cover-details ul li {
  font-family: "Archivo", sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 22px;
  color: black;
  margin-bottom: 20px;
}
.cover-details .code {
  font-family: "Archivo", sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 22px;
  color: black;
  margin-bottom: 40px;
}
.cover-details .code .code-special {
  color: #00C24E;
}
.cover-details a {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  background-color: #00C24E;
  color: #FFFFFF;
  text-decoration: none;
  width: 250px;
  font-family: "Archivo", sans-serif;
  font-size: 20px;
  font-weight: 600;
  line-height: 22px;
}

.Stories {
  width: 100%;
  height: 50px;
  margin-top: 110px;
  padding-left: 60px;
  font-family: "Clash Display", sans-serif;
  font-size: 36px;
  font-weight: 600;
  line-height: 30px;
  margin-bottom: 40px;
}

.Stories-button-container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  padding-left: 60px;
  padding-right: 30px;
}
.Stories-button-container .Story-buttons {
  width: 140px;
  height: 51px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  transition: 300ms;
  border: 1px solid #CCCCCC;
  margin-right: 50px;
  font-family: "Archivo", sans-serif;
  font-size: 18px;
  font-weight: 500;
  line-height: 20px;
  color: black;
  margin-bottom: 15px;
}
.Stories-button-container .Story-buttons:hover {
  background-color: #00C24E;
  color: #FFFFFF;
}

.New-magazine2 {
  width: 100%;
  margin-top: 100px;
  position: relative;
  background-color: #FFFFFF;
  padding-left: 60px;
}
.New-magazine2 .new2 {
  position: absolute;
  top: 0px;
  left: 450px;
}
.New-magazine2 .magazine {
  width: 352px;
  text-align: center;
  height: 100%;
  font-family: "Clash Display", sans-serif;
  font-size: 36px;
  font-weight: 600;
  line-height: 44px;
  white-space: nowrap;
}
.New-magazine2 .magazine .fancy {
  height: 39px;
  width: 352px;
}

.News-tip2 {
  width: 100%;
  height: 390px;
  display: flex;
  align-items: center;
  margin-top: 10px;
  padding: 0px 60px;
  flex-direction: row;
  text-decoration: none;
}
.News-tip2 .box-special1 {
  height: 380px;
  flex-basis: 46%;
}
.News-tip2 .box-special1 img {
  height: 100%;
  object-fit: cover;
  width: 100%;
}
.News-tip2 .box-special2 {
  flex-basis: 54%;
  height: 100%;
  padding-left: 30px;
}
.News-tip2 .box-special2 .box-text2 {
  margin: 17px 0px;
  color: #d30000;
  font-family: "Archivo", sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 21px;
}
.News-tip2 .box-special2 .box-header2 {
  width: 100%;
  color: black;
  font-family: "Clash Display", sans-serif;
  font-weight: 600;
  font-size: 36px;
  line-height: 44px;
  margin-bottom: 10px;
}
.News-tip2 .box-special2 .box-hint2 {
  width: 100%;
  color: grey;
  font-family: "Archivo", sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 25px;
  margin-bottom: 13px;
}
.News-tip2 .box-special2 .tiny {
  display: flex;
  align-items: center;
  font-family: "Clash Display", sans-serif;
  font-size: 16px;
  font-weight: 600;
  line-height: 20px;
  color: black;
}
.News-tip2 .box-special2 .tiny img {
  margin-right: 10px;
  height: 24px;
  width: 24px;
  object-fit: cover;
}
.News-tip2 .box-special2 .box-special1-date {
  margin-top: 10px;
  font-family: "Archivo", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 17px;
  color: grey;
}
.News-tip2 .box-special2 .readmore {
  text-decoration: none;
  background-color: #00C24E;
  color: #FFFFFF;
  width: 228px;
  height: 54px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 15px;
  font-family: "Archivo", sans-serif;
  font-size: 20px;
  font-weight: 600;
  line-height: 22px;
}

.Magazine-snippets-container {
  width: 100%;
  height: 480px;
  margin-top: 60px;
  padding: 0px 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.Magazine-snippets-container .snippets-container {
  flex-basis: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.Magazine-snippets-container .snippets-container .Magazine-snippets {
  height: 100%;
  flex-basis: 24%;
  background-color: #FAFAFA;
  text-decoration: none;
}
.Magazine-snippets-container .snippets-container .Magazine-snippets .Magazine-snippets-img {
  width: 100%;
  height: 45%;
}
.Magazine-snippets-container .snippets-container .Magazine-snippets .Magazine-snippets-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.Magazine-snippets-container .snippets-container .Magazine-snippets .Magazine-snippets-info {
  padding: 0px 10px;
  padding-top: 10px;
}
.Magazine-snippets-container .snippets-container .Magazine-snippets .Magazine-snippets-info .snippets-topic {
  color: #d30000;
  font-family: "Archivo", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 17px;
  margin-bottom: 10px;
}
.Magazine-snippets-container .snippets-container .Magazine-snippets .Magazine-snippets-info .snippet-msg {
  color: black;
  font-family: "Clash Display", sans-serif;
  font-size: 20px;
  font-weight: 600;
  line-height: 23px;
  margin-bottom: 10px;
}
.Magazine-snippets-container .snippets-container .Magazine-snippets .Magazine-snippets-info .snippet-id {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}
.Magazine-snippets-container .snippets-container .Magazine-snippets .Magazine-snippets-info .snippet-id img {
  margin-right: 10px;
  object-fit: contain;
  height: 24px;
  width: 24px;
}
.Magazine-snippets-container .snippets-container .Magazine-snippets .Magazine-snippets-info .snippet-id span {
  font-family: "Clash Display", sans-serif;
  font-size: 16px;
  font-weight: 600;
  line-height: 20px;
  color: black;
}
.Magazine-snippets-container .snippets-container .Magazine-snippets .Magazine-snippets-info .snippet-date {
  color: #707070;
  font-family: "Archivo", sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 13px;
}/*# sourceMappingURL=App.css.map */