@import "./partials/reset";
@import "./partials/mixins";
@import "./partials/variables";

*,*::after,*::before{
    @include reset;
}

body{
    background-color:$white-btn;
}

.Header{
    @include flex;@include justify(space-between);@include align(center);@include padding(20px 80px);
    height:90px;width:100%;box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);background-color:$white-btn;
    position:fixed;top:0;left:0;right:0;
    span{
        @include clash;font-weight:600;font-size:24px;line-height:29px;transform:translateX(50px)
    }
    .subscribe{
        @include flex;@include align(center);@include archivo;
        .sub-children{
            margin-left:30px;
        }
        .sub-btn{
            text-decoration:none;background-color:$red-btn;color:$white-btn;@include padding(15px 30px);
            font-weight:600;font-size:18px;line-height:19px;transition:300ms;
            &:hover{
                background-color:$dark-red;
            }
        }
        .sign-in{
            color:$black;font-weight:600;font-size:18px;line-height:19px;
        }
    }
}

.categories{
    width:100%;height:70px;background-color:$black;@include flex;@include justify(center);@include align(center);
    .cat-container{
        height:100%;width:80%;@include flex;@include justify(space-between);@include align(center);
    }
    .cat-options{
        color:$white-btn;text-decoration:none;transition:300ms;@include clash;font-weight:200;font-size:18px;
        line-height:29px;
        &:hover{
            font-weight:600;font-size:24px;text-decoration:underline;
        }
    }
}

.News-container{
    width:100%;
}

.News-tip{
    width:100%;height:380px;@include flex;@include justify(center);@include align(center);margin-top:50px;
    @include flexDirection(row);text-decoration:none;
    .box{
        flex-basis:46%;height:100%;
      
        .box-text{
            @include margin(17px 0px);color:$red-btn;@include archivo;font-weight:500;font-size:20px;line-height:21px;
        }
        .box-header{
            width:100%;color:$black;@include clash;font-weight:600;font-size:36px;line-height:44px;margin-bottom:10px;
        }
        .box-hint{
            width:100%;color:$grey;@include archivo;font-weight:400;font-size:20px;line-height:25px;margin-bottom:13px;
        }

        .news-writer{
            margin-bottom:10px;@include archivo;font-weight:500;font-size:16px;line-height:17px;color:$grey;
        }

        .news-date{
            color:$grey2;@include archivo;font-size:16px;font-weight:400;line-height:17px;
        }
    }
    .box-special{
        height:360px;
        img{
            width:100%;height:100%;object-fit:contain;
        }
    }
    .box-message{
        padding-left:30px;
    }
}


.News-slides{
    width:100%;height:280px;@include flex;
    margin-top:50px;overflow:auto;
    
}


.Slides{
    min-width:650px;height:100%;margin-right:15px;
    a{
        @include flex;@include flexDirection(row);@include align(center);max-width:650px;height:100%;
        text-decoration:none;background-color:$white2;transition:300ms;
        @include archivo;font-size: 16px;font-weight: 500;line-height: 17px;

        &:hover{
            box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.2);
        }
    }

    .space{
        padding-left:15px;
    }

    .slide-section{
        width:50%;height:100%;@include padding(0px 10px 0px 0px);
        .text{
            color:$red-btn;@include margin(10px 0px)
        }

        .text-head{
            @include clash;font-size: 20px;font-weight: 600;line-height: 25px;width:100%;word-wrap: break-word;
            color:$black;
        }

        .text-hint{
            @include archivo;font-size: 16px;font-weight: 400;line-height: 17px;color: $grey;@include margin(10px 0px);
        }

        .text-writer{
            @include archivo;font-size: 12px;font-weight: 500;line-height: 13px;color:$grey2;
        }

        .text-date{
            @include archivo;font-size: 12px;font-weight: 400;line-height: 13px;@include margin(10px 0px);
            color:$grey2;
        }
    }

    img{
        object-fit: cover;
    }
}
